services:
  mariadb:
    image: mariadb:11.4
    container_name: db
    restart: unless-stopped
    ports:
    - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: asdf
      MYSQL_PASSWORD: asdf
    volumes:
      - db:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: phpmyadmin
    restart: unless-stopped
    ports:
    - "8080:80"
    environment:
      PMA_HOST: mariadb
      PMA_TYPE_AUTH: cookie
    depends_on:
      - mariadb
volumes:
  db: